/* .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: darkviolet;
    text-align: center;
    color: white;
} */

.footer {
  background-color: darkviolet;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #eaeaea;
  font-size: 0.9rem;
  color: white;
  margin-top: 1.5rem; 
  border-radius: 0.5rem;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
}

.version-info {
  margin-top: 0.5rem;
}

.test-badge {
  color: rgb(186, 231, 23);
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 0.5rem;
}

.footer a {
  color: #e8ebee;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}